@model Data_Access.Custom_Models.PatientDashboardCm


<h2 class="container">My Profile</h2>

<form asp-action="PatientDashboard" method="post" class="container d-flex flex-column shadow gap-4 p-4" onsubmit="return checkForm()">
    <div>
        <h4 class="ms-auto me-auto mb-3">General Information</h4>
        <div>
            <div class="row">
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="text" class="input-disable form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.FirstName"
                           placeholder="First Name">
                    <label for="floatingInput" class="ms-2 ">First Name</label>
                    <span class="text-danger" asp-validation-for="profileData.FirstName"></span>
                </div>
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="text" class="input-disable form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.LastName"
                           placeholder="Last Name">
                    <label for="floatingInput" class="ms-2 ">Last Name</label>
                    <span class="text-danger" asp-validation-for="profileData.LastName"></span>
                </div>
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="date" class="input-disable form-control bg-transparent" id="birthDate" asp-for="@Model.profileData.BirthDate"
                           placeholder="Date of Birth" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                    <label for="birthDate" class="ms-2 ">Date of Birth</label>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h4 class="ms-auto me-auto mb-3">Contact Information</h4>
        <div>
            <div class="row">
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="tel" class="input-disable phone form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.PhoneWithoutCode"
                           placeholder="" />
                    <input type="text" asp-for="profileData.Phone" id="patientPhone" hidden />
                    <span class="text-danger" asp-validation-for="profileData.PhoneWithoutCode"></span>
                    <span class="text-danger" id="phoneErrorBox"></span>
                </div>
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="email" class="form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.Email"
                           placeholder="Email Address" disabled>
                    <label for="floatingInput" class="ms-2 ">Email Address</label>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h4 class="ms-auto me-auto mb-3">Location Information</h4>
        <div>
            <div class="row">
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="text" class="input-disable form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.Street"
                           placeholder="Street">
                    <label for="floatingInput" class="ms-2 ">Street</label>
                    <span class="text-danger" asp-validation-for="profileData.Street"></span>
                </div>
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="text" class="input-disable form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.City"
                           placeholder="City">
                    <label for="floatingInput" class="ms-2 ">City</label>
                    <span class="text-danger" asp-validation-for="profileData.City"></span>
                </div>
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <select id="regionId" class="input-disable form-select p-0 ps-2 mb-2 regionDropdown" aria-label="Default select example" asp-for="profileData.RegionId">
                        <option selected disabled>Select Region</option>
                        @foreach (var obj in Model.profileData.Regions)
                        {
                            <option value="@obj.Regionid">
                                @obj.Name
                            </option>
                        }
                    </select>
                </div>
                <div class="form-floating mb-3 col-12 col-sm-6">
                    <input type="text" class="input-disable form-control bg-transparent" id="floatingInput" asp-for="@Model.profileData.Zipcode"
                           placeholder="Zipcode">
                    <label for="floatingInput" class="ms-2 ">Zipcode</label>
                    <span class="text-danger" asp-validation-for="profileData.Zipcode"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end gap-3">

        <button type="button" id="editBtn" class="btn btn-info text-white EditBtn" onclick="enableFields()">Edit </button>

        <button type="submit" id="submitBtn" class="btn btn-info text-white EditBtn">Submit </button>

        <button type="reset" id="cancelBtn" class="btn btn-outline-info EditBtn" onclick="disableFields()">Cancel</button>

    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    function disableFields() {
        document.querySelectorAll('.input-disable ').forEach(function (element) {
            element.disabled = true;
        });

        // Hide the submit and cancel buttons, show the edit button
        document.getElementById('submitBtn').style.display = 'none';
        document.getElementById('cancelBtn').style.display = 'none';
        document.getElementById('editBtn').style.display = 'block';

    }

    function enableFields() {
        document.querySelectorAll('.input-disable ').forEach(function (element) {
            element.disabled = false;
        });

        // Show the submit and cancel buttons, hide the edit button
        document.getElementById('submitBtn').style.display = 'block';
        document.getElementById('cancelBtn').style.display = 'block';
        document.getElementById('editBtn').style.display = 'none';
    }
    disableFields();
</script>
